<!DOCTYPE html>
<html ng-app="pwdApp">
    <head>
        <meta charset="utf-8">
        <title>KeyMan</title>
        <link type="text/css" rel="stylesheet" href="css/index.css" />
        <link type="text/css" rel="stylesheet" href="css/tablecloth.css" />
        <link type="text/css" rel="stylesheet" href="css/ui-grid-unstable.min.css" />
        <script type="text/javascript" src="js/lib/jquery/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/lib/angular/w5cValidator.min.js"></script>
        <script type="text/javascript" src="js/lib/uuid/uuid.core.js"></script>
        <script type="text/javascript" src="js/lib/tablecloth/tablecloth.js"></script>
        <script type="text/javascript" src="js/lib/ng-grid/ui-grid-unstable.js"></script>
        <script type="text/javascript" src="js/constant/constant.js"></script>
        <script type="text/javascript" src="js/filter/filter.js"></script>
        <script type="text/javascript" src="js/factory/factory.js"></script>
        <script type="text/javascript" src="js/service/service.js"></script>
        <script type="text/javascript" src="js/controller/controller.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>
        <div class="mainWrap">
            <!-- login form start -->
            <div ng-hide="localStorage.actType != 'login'" ng-controller="loginCtrl" class="view loginView">
                <div ng-hide="localStorage.hideSelectFileView" class="selectFileView">
                    <div class="selectFileViewHeader">
                        <h2>导入数据</h2>
                        <a class="model-close" href="#" ng-click="hideSelectFileViewFn();"></a>
                    </div>
                    <div class="selectFileViewMid">
                        <div class="selectFileViewInner">
                            <ul class="selectFileViewItems">
                                <li>
                                    <form>
                                        <input type="file" id="selectFiles" name="selectFiles[]">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="loginTit">
                    <div class="tosignup">还没有账号？
                        <a href="#" ng-click="toRegister();">立即注册并登录</a>
                    </div>
                </div>
                <form name="loginForm" w5c-form-validate="validateOptions" novalidate>
                    <div class="form-group">
                        <div>
                            <input ng-model="entity.name" required="" name="name" class="input-xp common-input" type="text" placeholder="用户名">
                        </div>
                        <div class="invalid">
                            <div class="msg"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input ng-model="entity.password" required="" name="password" class="input-xp common-input" type="password" placeholder="密码">
                        </div>
                        <div class="invalid">
                            <div class="msg"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="tosignup">已有数据？
                            <a href="#" ng-click="importData();">立即导入</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input class="submit-xp common-btn" type="submit" w5c-form-submit="login();" value="提交">
                        </div>
                    </div>
                </form>
            </div>
            <!-- login form end -->

            <!-- register form start -->
            <div ng-hide="localStorage.actType != 'register'" ng-controller="registerCtrl" class="view registerView">
                <div class="registerTit">
                    <div class="tologin">已有账号？
                        <a href="#" ng-click="toLogin();">返回登录</a>
                    </div>
                </div>
                <form name="registerForm" w5c-form-validate="validateOptions" novalidate>
                    <div class="form-group">
                        <div>
                            <input ng-model="entity.name" required="" name="name" class="input-xp common-input" type="text" placeholder="用户名">
                        </div>
                        <div class="invalid">
                            <div class="msg"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input ng-model="entity.password" required="" name="password" class="input-xp common-input" type="password" placeholder="密码">
                        </div>
                        <div class="invalid">
                            <div class="msg"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input ng-model="entity.repeatPassword" required="" w5c-repeat="password" name="repeatPassword" class="input-xp common-input" type="password" placeholder="确认密码">
                        </div>
                        <div class="invalid">
                            <div class="msg"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input class="submit-xp common-btn" type="submit" w5c-form-submit="register();" value="提交">
                        </div>
                    </div>
                </form>
            </div>
            <!-- register form end -->

            <!-- main start -->
            <div ng-hide="localStorage.actType != 'main'" ng-controller="mainCtrl" class="view mainView">
                <div class="mainTit">
                    <div class="quitLogin">
                        <h2>你好，{{ localStorage.currentUser.name }}</h2>
                        <a href="#" ng-click="quit();">退出登录</a>
                    </div>
                </div>
                <div class="mainEditor">
                    <input class="add-xp common-btn" type="button" ng-click="showAddView();" value="新增">
                    <input class="add-xp common-btn" type="button" ng-click="deleteSelected();" value="删除">
                    <input class="add-xp common-btn" type="button" ng-click="showSelected();" value="查看">
                    <input class="add-xp common-btn" type="button" ng-click="exportAllData();" value="导出所有数据">
                </div>
                <div class="main-list">
                    <div ui-grid="localStorage.gridOptions" ui-grid-delete ui-grid-edit ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns class="grid"></div>
                </div>
            </div>
            <!-- main end -->

            <!-- dataView start -->
            <div ng-hide="localStorage.hideDataView" ng-controller="dataCtrl" class="dataView popup">
                <div class="dataView-content">
                    <div class="dataView-header">
                        <h2>添加记录</h2>
                        <a class="model-close" href="#" ng-click="hideDataView();"></a>
                    </div>
                    <div class="addForm-group">
                        <form name="addForm" w5c-form-validate="validateOptions" novalidate>
                            <div class="dataView-group form-group">
                                <div>
                                    <label>账号类型</label>
                                    <select class="common-input dataView-select" ng-model="localStorage.currentData.accountType">
                                        <option value="normal">常规登录</option>
                                        <option value="email">电子邮箱</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dataView-group form-group">
                                <div>
                                    <label>用户名</label>
                                    <input class="dataView-input common-input" ng-model="localStorage.currentData.name" name="name" type="text">
                                </div>
                                <div class="invalid">
                                    <div class="msg"></div>
                                </div>
                            </div>
                            <div class="dataView-group form-group">
                                <div>
                                    <label>密码</label>
                                    <input class="dataView-input common-input" ng-model="localStorage.currentData.password" name="password" type="text">
                                </div>
                                <div class="invalid">
                                    <div class="msg"></div>
                                </div>
                            </div>
                            <div class="dataView-group form-group">
                                <div>
                                    <label>网址</label>
                                    <input class="dataView-input common-input" ng-model="localStorage.currentData.url" name="url" type="url">
                                </div>
                                <div class="invalid">
                                    <div class="msg"></div>
                                </div>
                            </div>
                            <div class="dataView-group form-group">
                                <div>
                                    <label>备注</label>
                                    <input class="dataView-input common-input" ng-model="localStorage.currentData.remark" name="remark" type="text">
                                </div>
                            </div>
                            <div class="dataView-btn-group">
                                <input w5c-form-submit="dataMan();" class="common-btn" type="submit" value="提交">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- dataView end -->

            <!-- showDataView start -->
            <div ng-hide="!localStorage.showSelectedView" ng-controller="showDataCtrl" class="showDataView popup">
                <div class="showDataView-content">
                    <div class="showDataView-header">
                        <h2>查看记录</h2>
                        <a class="model-close" href="#" ng-click="hideShowDataView();"></a>
                    </div>
                    <div class="showDataView-tableContainer">
                        <table class="showDataView-table">
                            <tbody>
                                <tr>
                                    <th style="width: 79px;">帐号类型</th>
                                    <th style="width: 106px;">账号</th>
                                    <th style="width: 106px;">密码</th>
                                    <th style="width: 106px;">网址</th>
                                    <th style="width: 79px;">备注</th>
                                </tr>
                                <tr ng-repeat="data in localStorage.showDataList">
                                    <td>
                                        <label ng-if="data.accountType == 'normal'">常规登录</label>
                                        <label ng-if="data.accountType == 'email'">电子邮箱</label>
                                    </td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.password }}</td>
                                    <td>{{ data.url }}</td>
                                    <td>{{ data.remark }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- showDataView end -->
        </div>
    </body>
</html>